.menu {
  position: fixed;
  left: 175px;
  height: 100%;
    width: 80px;
    background-color: #3b5998;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    
    .items {
      list-style: none;
      padding: 0;
      width: 100%;
  
      .item {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        cursor: pointer;
        color: #fff;
  
        &:hover,
        &.item-active {
          background-color: #29487d;
        }
  
        i {
          font-size: 20px;
        }
      }
    }
  }
  
  