$primary-color: #28a745;
$primary-color-hover: darken($primary-color, 10%);
$background-color: #f0f0f0;
$container-background: #fff;
$input-border: #ccc;
$input-padding: 8px;
$border-radius: 4px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$container-width: 300px;

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: $background-color;
}

.login-container {
  background-color: $container-background;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: $container-width;
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .input-group {
    margin-bottom: 15px;
    
    label {
      display: block;
      margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: $input-padding;
      box-sizing: border-box;
      border: 1px solid $input-border;
      border-radius: $border-radius;
    }
    
    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
    &:hover {
      background-color: $primary-color-hover;
    }
  }
  .btn-register{
    margin-top: 20px;
    a{
      text-decoration: none;
      color: #fff;
    }
  }
}
